/*============================================================================================================================================================================================================================================
Element Styles:
============================================================================================================================================================================================================================================*/

// --------------------------------------------------------------------------------------------------------------------
// Header block elements
// --------------------------------------------------------------------------------------------------------------------
.header-block__logo {
  font-size: ms(3);
  font-weight: $headline;
  line-height: 1;
}

.js-load-completed-todo,
.js-new-todo {
  color: $typeColor;
  border-color: $typeColor;
  min-width: 11.5em;

  &:hover,
  &:focus {
    background-color: $typeColor;
    border-color: $typeColor;
    color: $white;
  }
}
// --------------------------------------------------------------------------------------------------------------------
// Header block elements
// --------------------------------------------------------------------------------------------------------------------
